
body{
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}


/*--------------------Навигация---------------------*/

#top{
	position: relative;
	height: 980px;
	background-image: url(resources/home/bg.png);
	background-position: center center;
    background-size: cover;
}

#top h1{
	font-size: 40px;
}
.navbar-right{
		margin-top: 15px;
}
.navbar-right li a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 17px;
}

#top .list-inline>li{
	padding-left: 100px;
}

.navbar-right li a:hover{
	background-color: transparent;
}


/*КНОПКА СПРАВА НАВИГАЦИИ*/
#access{
	background-color: #83C881;
	padding: 10px 15px;
	border-radius: 100px;
	color: white;
}

/*--------------------ОБЪЕКТЫ---------------------*/


/*этот класс у всех объектов которые я позиционировал*/
.relem{
	position: absolute;
}

#kraft{
	bottom: -199px;
    left: -6px;
    height: 480px;
    width: 425px;
}

#pens{
	bottom: -100px;
    right: 65px;
    width: 320px;
    height: 280px;
}

#circle-bottom{
	    right: 0;
    top: -252px;
    z-index: -1;
    opacity: 0.5;
}

#bottom-circle {
    bottom: 0;
    z-index: -1;
    opacity: 0.6;
        left: -2px;
}

#bottom-mouse{
    right: 0;
    bottom: 280px;
}

#bottom-keyboard{
left: 0;
    bottom: -5px;
    z-index: -2;
}


/*--------------------СЕРВИСЫ---------------------*/

#services{
		margin-top: 70px;
}

.box{
	width: 570px;
	height: 240px;
	border: 2px solid #ECECEC;
	border-radius: 10px;
}

.services_icon{
	padding: 25px;
}

.box .col-sm-8 h4{
	margin-top: 25px;
	color: #83C881;
}
.box .my_string2{
	margin-top: 25px;
	background-color: #83C881;
}
.box .col-sm-8 p{
	margin-top: 35px;
}

#services .container:nth-child(3){
	margin-bottom: 65px;
}


/*маленькая полоска под каждым заглавием сервиса в секции сервисы*/

.my_string{
	background-color: #898989;
    width: 46px;
    height: 3px;
    margin: 40px auto 45px auto;
}


/*маленькая полоска под каждым заглавием секции*/
.my_string2{
	background-color: black;
    width: 31px;
    height: 2px;
}

/*--------------------О НАС---------------------*/

#about{
	height: 1140px;
	background: url(resources/ipad.png) no-repeat;
}

#about h3{
	margin: 0;
	padding-top: 85px
}
#about .about_us{
	margin: 140px 0 75px 0;
}

#about p{
	margin-bottom: 75px;
}


/*--------------------КОНТАКТ---------------------*/

#contact{
	position: relative;
	height: 280px;
	background-color: #83C881;
}


/*это все для картинки мышки по центру секции "контакт"*/
#contact_special{
	position: relative;
	color: white;
}

/*сама картинка мышки*/
#contact_special:after{
	content: url(resources/after.png);
    position: absolute;
    top: -49px;
    left: 47.1%;
}

#contact h4{
	padding: 60px 0 50px 0;
}


#my_phone{
	color: black;
	text-decoration: none;
}
/*--------------------СЕКЦИЯ С ФОРМОЙ---------------------*/

#order{
	height: 735px;
	position: relative;
	margin: 0 auto;
	padding-top: 40px;
}

#order:before{
	    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #EEEEEE;
    content: "";
    display: block;
    z-index: -5;
}

#order .form{
	width: 65%;
	background-color: white;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 60px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 60px -12px rgba(0,0,0,0.75);
box-shadow: 0px 0px 60px -12px rgba(0,0,0,0.75);
}

.form input{
	border: 2px solid #83c881;
	border-radius: 100px;
	height: 55px;
}

.form textarea{
	border: 2px solid #83c881;
	border-radius: 20px;
	resize: none;
}

.form select{
	border: 2px solid #83c881;
	border-radius: 100px;
	height: 55px;
}

.form .form-group{
	padding-top: 25px;
}

#order button{
	background-color: #83c881;
	text-transform: uppercase;
	padding: 15px 25px;
	border-radius: 80px;
	border: none;
	color: white;
	margin-top: 35px;

}

#order .after_submit{
	margin: 25px 0 25px 0;
	color: gray;
}

/*--------------------ФУТЕР---------------------*/

footer{
	position: relative;
	height: 75px;
	background-color: white;
	color: black;
	font-size: 16px;
}

footer p{
	 line-height: 75px;
	 padding-left: 30px;
}

.back_top{
	position: absolute;
	background-color: white;
	padding: 15px;
	border-radius: 100px;
	right: 2.5em;
	bottom: 3.1em;
}
